.calories__statistics {
    
}
.info {
    width: 50%;
    padding: 40px;

    &__text {
        display: flex;
        margin-bottom: 25px;
    }

    &__total-value {
        display: flex;
        align-items: center;
        flex: 0 1 40%;
    }

    &__goal {
        flex: 0 1 60%;
        display: flex;
        align-items: center;

        span{
            margin-left: 5px;
        }
    }

    &__edit{
        margin-left: 20px;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.edit-input {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.set-goal {
    color: white;
    border: 1px solid white;
    padding: 4px;
    border-radius: 5px;
    background: transparent;
}

.chart {
    display: flex;
    align-items: flex-end;

    &__value {
    }

    &__bar {
        position: relative;
        width: 300px;
        height: 40px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 10px;
        text-align: center;
        overflow: hidden;
        color: rgba(255,255,255,0.7);
    }

    &__goal {
    }
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(250, 128, 114, 0.5), rgb(192, 55, 21));
    height: 40px;
    border-radius: 15px;
}